<div class="bkg">

    <div class="input-group">
        <app-native-search-field
            (optionSelected)="selectOrigin($event)">
        </app-native-search-field>
        <app-native-search-field
            (optionSelected)="selectDestiny($event)">
        </app-native-search-field>
        <button class="btn" (click)="goToNetworkQuery()">Encontrar relação mais próxima</button>
    </div>

    <div class="results">
        <div class="actors" *ngIf="actorsList && actorsList.length > 0">
            <div *ngFor="let actor of actorsList" class="result-item">
                <p>{{ actor }}</p>
            </div>
        </div>
    
        <div class="movies" *ngIf="moviesList && moviesList.length > 0">
            <div *ngFor="let movie of moviesList" class="result-item">
                <p>{{ movie }}</p>
            </div>
        </div>
    </div>

</div>