.bkg {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100dvh - 170px);
}

app-native-search-field {
    margin: 0px 10px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    font-family: 'Short Stack', cursive;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 5px;
    border-radius: 10px;
    background-image: url(../../../../assets/images/paper-bkg.jpeg);
    background-size: cover;
}

.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.results {
    width: 80%;
    margin: 40px 0px;
    display: flex;             
    justify-content: space-around;
}

.result-item {
    box-shadow: inset 0 0 0 2px black;
    height: 80px;
    border-radius: 10px;
    color: white;
    background-image: url(../../../../assets/images/chalkboard-bkg-footer.png);
    margin-bottom: 35px;
    padding: 10px;
    width: 100%;
}

.result-item p {
    margin: 0;
    text-align: center;
}

.actors {
    width: 25%;
    /* Styles specific to the actors column */
}

.movies {
    width: 25%;
    margin: 60px 0px;
}
  