@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body {
    background-image: url("./assets/images/paper-bkg.jpeg");
    margin: 0;
    padding: 0;
    font-family: 'Short Stack', cursive;
}