@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Short Stack', cursive;
    background-color: var(--background-color);
}

:root {
    --text-color: black;
    --shadow-color: black;
    --background-color: white;    
    --canvas: #f5f5f5;
    --autocomplete-hover-color: #f0f0f0;
    --autocomplete-border-color: #ccc;
    --scrollbar-thumb-color: #888;    
    --scrollbar-thumb-hover-color: #555;
}