.menu {
    padding: 0px 50px;    
    min-height: calc(100dvh - 170px);
}

.group {
    background-color: var(--background-color);
    display: flex;
    border: 2px solid var(--shadow-color);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.group-text {
    width: 90%;    
    gap: 30px; 
    color: var(--text-color);
}

.group-button {
    font-family: 'Short Stack', cursive;    
    font-weight: 700;
    font-size: 1.3rem;
    width: 10%;
    height: 50px;
    border-radius: 10px;
    background-size: cover;
}

.group-text:hover h2 {
    cursor: pointer;
    text-decoration: underline;
}